/data/train_data.csv
/data/test_data.csv
/data/train_class.csv
/data/test_class.csv
/data/test_class_seq.csv
/data/test_class_3_week.csv
/data/train_class_seq.csv
/data/train_downdampled.csv
/data/test_class_1_2.csv
/data/train_class_1_2.csv
/data/test_class_1_2_new_new.csv
